.header {
    background-color: #736357;
    padding-top: 4px;
}

.container-fluid {
    padding: 0;

    & .row {
        margin: 0;
    }
}

.main-content {
    line-height: 1.75;
    min-height: 55vh;
}

.lead {
    font-style: italic;
    line-height: 36px;
}

.breadcrumb,
.entry {
    border-bottom: 2px solid $primary;
}

.entry {
    background-color: #fff;
    padding: 16px;
}

.btn-outline-white {
    color: #fff;
    border-color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.display-5 {
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 3.25rem;
}

.lh-lg {
    line-height: 1.75;
}
