.featured {
    & .title {
        border-bottom: 1px solid $super-light;
        font-size: $h4-font-size;
        margin-bottom: 1.5rem;

        & a {
            text-decoration: none;
        }
    }

    & .featured-box {
        margin-bottom: 3rem;

        &.sticky {
            border-left: 4px solid $super-light;
            padding-left: 24px;
        }
    }

    & a {
        color: $dark;
        text-decoration: underline;

        &:hover {
            color: $primary;
        }
    }

    &.featured-news {
        & .title {
            border-bottom: 0;
            font-size: $font-size-base;
            margin-bottom: 0.75rem;
            text-transform: uppercase;
        }

        & .featured-box {
            background-color: #fff;
            border-top: 2px solid #cfcac5;
            padding: 1.5rem;
        }
    }
}
