.icon-search {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMjE2IDgzMnEwLTE4NS0xMzEuNS0zMTYuNVQ3NjggMzg0IDQ1MS41IDUxNS41IDMyMCA4MzJ0MTMxLjUgMzE2LjVUNzY4IDEyODB0MzE2LjUtMTMxLjVUMTIxNiA4MzJ6bTUxMiA4MzJxMCA1Mi0zOCA5MHQtOTAgMzhxLTU0IDAtOTAtMzhsLTM0My0zNDJxLTE3OSAxMjQtMzk5IDEyNC0xNDMgMC0yNzMuNS01NS41dC0yMjUtMTUwLTE1MC0yMjVUNjQgODMydDU1LjUtMjczLjUgMTUwLTIyNSAyMjUtMTUwVDc2OCAxMjh0MjczLjUgNTUuNSAyMjUgMTUwIDE1MCAyMjVUMTQ3MiA4MzJxMCAyMjAtMTI0IDM5OWwzNDMgMzQzcTM3IDM3IDM3IDkweiIgZmlsbD0iIzUzNDc0MSIvPjwvc3ZnPgo=);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 14px;
    width: 14px;
}
