.jumbotron-intro {
    background-color: $dark-500;
    position: relative;
    width: 100%;
    z-index: 1;

    /* https://www.facebook.com/groups/frontendisti/permalink/2158656031012576/ */

    & .img-main {
        width: 100%;
    }
}

.main-front {
    & .jumbotron-intro {
        height: 37.1vw;

        & .img-main {
            bottom: 0;
            position: absolute;
        }
    }
}

@media (min-width: 992px) {
    .main-front .jumbotron-intro {
        margin-top: 64px;
    }
}
