.search-box-container {
    opacity: 0.8;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    & .search-box {
        /* background-color: #756c67; */

        & .btn {
            font-size: $h4-font-size;
            text-transform: none;
        }
    }
}
