.filter-table {
    & th:not(:first-child) {
        cursor: pointer;
    }

    & th.sorted {
        background-image: url('../icons/angle-up.svg');
        background-position-x: right;
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: 16px;
    }
}
